<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/output.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="backdrop p-5">
        <div class="modal mt-10 mb-10 rounded-lg shadow-lg hover:shadow-2xl">
            <h1 class="text-3xl text-center font-bold pb-16">My Portifolio</h1>
            <p class="text-center font-light">
                Hello! I am a passionate software developer
                 specializing in front-end development. With
                  a strong background in HTML, Tailwind CSS,
                   and JavaScript, I create clean, responsive,
                    and user-friendly web applications. My expertise
                     in these technologies allows me to build visually
                      appealing and highly functional user interfaces.
            </p>
            <div class="link">
                <a href="../index.html">Back</a>
            </div>
        </div>
    </div>
</body>
</html>