<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/output.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="backdrop p-5">
        <div class="modal mt-10 mb-10 rounded-lg shadow-lg hover:shadow-2xl">
            <h1 class="text-3xl text-center font-bold pb-16">Login System</h1>
            <p class="text-center font-light">
                I have developed a robust and secure login system
                leveraging HTML, CSS, and Node.js.This login system
                demonstrates my ability to combine front-end and
                back-end technologies to create secure, responsive,
                and user-friendly web applications. It highlights
                my proficiency in HTML, CSS, and Node.js, along with
                my commitment to following best practices in web 
                development and security.
            </p>
            <div class="link">
                <a href="../index.html">Back</a>
            </div>
        </div>
    </div>
</body>
</html>